@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
.font-family-karla { font-family: karla; }
.bg-sidebar { background: #3d68ff; }
.cta-btn { color: #3d68ff; }
.upgrade-btn { background: #1947ee; }
.upgrade-btn:hover { background: #0038fd; }
.active-nav-link { background: #1947ee; }
.nav-item:hover { background: #1947ee; }
.account-link:hover { background: #3d68ff; }


* {
    margin:0;
    padding:0;
}
.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}
.input:focus+.label,
.input:active+.label,
.input.filled+.label {
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.3rem;
    color: #6b7280;
}
.label {
    transition: all 0.2s ease-out;
    top: 0.4rem;
    left: 0;
}


.dropdown:hover .dropdown-menu {
    display: block;
  }
